.hero {
  position: relative;
  height: 83vh;
  overflow: hidden;
}

.hero-slide {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Tamna providnost */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-overlay h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 30px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #ddd;
}